body {
  margin: 0;
  padding: 0;
  background-color: #8c51a5;
}
.header_pic {
  background-size: contain;
  width: 100%;
}

.backto {
  margin: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  margin-left: 45%;
}

a {
  text-decoration: none;
  font-size: larger;
  margin-bottom: 1rem;
}

.footer_container {
  margin-top: 3rem;
}

.footer_pic {
  background-size: contain;
  width: 100%;
}
